<p-toast position="top-right"></p-toast>
<div class="admin-page">
    <p-card
        [header]="editMode ? 'Edit your user' : 'Add your user'"
        subheader="You can add and edit users here!"
    >
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="p-grid">
                <div class="p-col-12">
                    <p-toolbar>
                        <div class="p-toolbar-group-right justify-content-end">
                            <p-button
                                [label]="editMode ? 'Update' : 'Create'"
                                type="submit"
                                styleClass="p-button-primary mr-3"
                                icon="pi pi-plus"
                            ></p-button>
                            <p-button
                                label="cancel"
                                routerLink="/users"
                                styleClass="p-button-secondary"
                                icon="pi pi-arrow-circle-left"
                            >
                            </p-button>
                        </div>
                    </p-toolbar>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="name">Name</label>
                    <input
                        formControlName="name"
                        id="name"
                        type="text"
                        pInputText
                    />
                    <small *ngIf="name.invalid && isSubmitted" class="p-error"
                        >Name is required</small
                    >
                </div>
                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="email">Email</label>
                    <input
                        formControlName="Email"
                        id="email"
                        type="email"
                        pInputText
                        formControlName="email"
                    />
                    <small *ngIf="email.invalid && isSubmitted" class="p-error">
                        <span *ngIf="email.getError('required')">Email is required</span>
                        <span *ngIf="email.getError('email')">Format should be email</span>
                    </small>
                    <!-- <small *ngIf="email.invalid && isSubmitted && email.getError('email')" class="p-error">
                        
                    </small> -->
                    <br />
                </div>
                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="password">Password</label>
                    <input
                        formControlName="password"
                        id="password"
                        type="password"
                        pInputText
                    />
                    <small
                        *ngIf="password.invalid && isSubmitted"
                        class="p-error"
                        >Password is required</small
                    >
                </div>
            </div>

            <div class="p-fluid p-formgroup grid">
                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="phone">Phone</label>
                    <p-inputMask formControlName="phone" mask="+999-999-999"></p-inputMask>
                    <small *ngIf="phone.invalid && isSubmitted" class="p-error"
                        >Phone is required</small
                    >
                </div>

                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="isAdmin">Is Admin</label>
                    <br />
                    <p-inputSwitch
                        formControlName="isAdmin"
                        id="isAdmin"
                    ></p-inputSwitch>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="street">Street</label>
                    <input
                        formControlName="street"
                        id="street"
                        type="text"
                        pInputText
                        formControlName="street"
                    />
                    <small *ngIf="street.invalid && isSubmitted" class="p-error"
                        >Street is required</small
                    >
                </div>
                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="apartment">Apartment</label>
                    <input
                        formControlName="apartment"
                        id="apartment"
                        type="text"
                        pInputText
                    />
                    <small
                        *ngIf="apartment.invalid && isSubmitted"
                        class="p-error"
                        >Apartment is required</small
                    >
                </div>
                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="zip">Zip Code</label>
                    <input
                        formControlName="zip"
                        id="zip"
                        type="text"
                        pInputText
                    />
                    <small *ngIf="zip.invalid && isSubmitted" class="p-error"
                        >Zip is required</small
                    >
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="city">City</label>
                    <input
                        formControlName="city"
                        id="city"
                        type="text"
                        pInputText
                        formControlName="city"
                    />
                    <small *ngIf="city.invalid && isSubmitted" class="p-error"
                        >City is required</small
                    >
                </div>
                <div class="p-field pt-4 col-4">
                    <label class="pb-2" for="country">Country</label>
                    <p-dropdown 
                        formControlName="country"
                        [options]="countries"
                        optionLabel="name"
                        optionValue="id"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        placeholder="Select a country"
                        ></p-dropdown>
                    <small
                        *ngIf="country.invalid && isSubmitted"
                        class="p-error"
                        >Country is required</small
                    >
                </div>
            </div>
        </form>
    </p-card>
</div>
